.main-columns {
    display: flex;
    flex-direction: row;
}

.main-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 3em;
    flex: 1 1 1em;
}

.main-toggle {
    margin: .5em 3em;
}

.pure-menu-list {
    margin: .2em;
}

.narrative {
    margin: .3em 0;
}

.dropdown-slidedown {
    border: 1px solid gray;
    border-radius: 4px;
    width: 10em;
    max-height: 40em;
    background: whitesmoke;
    overflow-y: auto;
    transition-duration: .8s;
    transition-timing-function: ease-in-out;    
}

.dropdown-slidedown.overlay {
    position: absolute;
}