.main-columns {
    display: flex;
    flex-direction: row;
}

.main-column {
    flex: 1 1 auto;
}

.dropdown-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dropdown-slidein {
    position: fixed;
}