
.react-slidein {
    overflow: hidden;
    height: auto;
}

.react-slidein-content {
    height: 0;
    transition-property: none;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}